// 自定义样式

// 侧边栏目录字体大小
.post-toc {
  font-size: 17px !important;
}

.post-toc .nav-item {
  line-height: 2.2 !important;
  font-size: 17px !important;
}

.post-toc a {
  font-size: 17px !important;
}
